* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: lavender;
}

.App {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 20px;
  padding: 30px 20px;
  border: 2px solid lightblue;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-header {
  font-family: sans-serif;
  font-size: 26px;
}

.courses {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.course-card {
  border: 1px solid lightblue;
  border-radius: 3px;
  padding: 20px;
}

.course-item-value {
  margin-top: 5px;

}

.course-input {
  padding: 5px;
  width: 150px;
  margin-bottom: 20px;
  border: 1px solid lightblue;
  border-radius: 3px;
  outline: 0;
}

.course-select {
  padding: 5px;
  margin: 0 5px;
  border: 1px solid lightblue;
  border-radius: 3px;
  color: darkslategray;
  cursor: pointer;
  outline: 0;
}


